
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: darkorange;
  }


  li {
    display: inline-block;
    margin-right: auto;
    margin-right: 20px;
    color: red;
  }
a{
    text-decoration: none;
    color:darkred;
}

li
{
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: darkred;
    

    
}

a:hover
{
    color: orangered;
    
    background-color: lightsalmon;
    cursor: pointer;
}
a:link
{
    color: lightblue;
}

.hello{
    text-decoration: underline;
}


#title
{
    margin-left: 60px;
    color: lightsalmon;
    
}

#firstblack
{
    border: 5px solid orangered;
    background-color: orangered;
    height:auto;
    
}




section
{
    background-color: darkorange;
    height: 600px;
}



#firstpagetext
{
    
     text-align: center;
     
        font-size: 2em;
       
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

        
         
        
         


      
      
     }
   
h2
{
    text-align: center;
   
    font-size: 5em;
}

#textpage2

{
    text-align: left;
    font-size: 1.7em;
}





h3{
    text-align: left;
    font-size: 2em;
  
}



#doc
{
    text-align: left;
    font-size: 2em;
    color: red;
}


#Page2
{
    font-size: 2em;
    text-align: left;
    display: inline;
    text-decoration: none;
    
}

a
{
    text-decoration: none;
}