
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: black
   
    
  }

  header
  {
      background-color: black;
      height: 150px;
  }

  li {
    display: inline-block;
    margin-right: auto;
    margin-right: 20px;
    color: white;
    text-align: left;
  }
a{
    text-decoration: none;
    color:white;
}

li
{
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: white;
    text-align: left;
    

    
}

a:hover
{
    color: darkgray;
    
    background-color: white;
    cursor: pointer;
}
a:link
{
    color: lightblue;
}




#title
{
    margin-left: 60px;
    color: grey;
    
}







#firstpagetext
{
    
     text-align: center;
     
        font-size: 2em;
       
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   
     }
   


#textpage2

{
    text-align: left;
    font-size: 1.7em;
}









#doc
{
    text-align: center;
    font-size: 2em;
    color: green;
}





#docc
{
    font-size: 2em;
    text-align: Center;
    margin-top: 20px;
}




.column {
  
  width: 33.33%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
 
  
  

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  
  display: inline-block;
  
 
  
  
}

.row

{
    text-align: center;
}


#firstblack
{
    border: 5px solid orange;
    background-color: orange;
    height:auto;
}