
body { width: 100%; height: 100%; } 
body
{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(pyramid-2675466_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }



  li {
    display: inline-block;
    margin-right: auto;
    margin-right: 20px;
    color: red;
  }
a{
    text-decoration: none;
    color:orangered;
}

li
{
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: darkblue;
    

    
}

a:hover
{
    color: red;
    
    background-color: darkorange;
    cursor: pointer;
}
a:link
{
  color:red;
}

.hello{
    text-decoration: underline;
}


#title
{
    margin-left: 60px;
    color: darkgoldenrod
    
}

#firstblack
{
    border: 5px solid orange;
    background-color: orange;
    height:auto;
}






#firstpagetext
{
    
     text-align: center;
     
        font-size: 2em;
       
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

        
         
        
         


      
      
     }
   
h2
{
    text-align: center;
   
    font-size: 5em;
}

#Title
{
         font-size: 5em;
        text-align:center;
        padding: 0;
       margin:0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        list-style-type: none;
        
        color: orangered;
        border-radius: 20px;
        box-shadow: 20px 0px 20px  orange;
        font-weight: bold;;
        
    
    
}

