
body { width: 100%; height: 100%; } 
body
{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(1haodPLz5nHitp5AGg3YMCNQItIlG6dJilgIHYG1nBk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }



  li {
    display: inline-block;
    margin-right: auto;
    margin-right: 20px;
    color: red;
  }
a{
    text-decoration: none;
    color:orangered;
}

li
{
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: darkblue;
    

    
}

a:hover
{
    color: lightsalmon;
    
    background-color: darkorange;
}
a:link
{
    color: orangered;
}

.hello{
    text-decoration: underline;
}


#title
{
    margin-left: 60px;
    color: darkgoldenrod
    
}

#firstblack
{
    border: 5px solid orange;
    background-color: orange;
    height:auto;
}







   


h2{
    font-size: 3em;;
    text-align: center;
}